/*asdf*/

#adminmenuback{
	background: black !important;
}

#adminmenu>li{
	opacity: .5;
}

/*#menu-settings,
#menu-tools,
#menu-users,
#toplevel_page_woocommerce-marketing{
	opacity: .6;
}*/

#menu-posts,
#menu-media,
#menu-pages,
#menu-comments,
#toplevel_page_woocommerce,
#menu-plugins,
#menu-appearance{
	opacity: 1;
}